

table {
	width: 100%;
	table-layout: fixed;
}

table.stories thead td {
	background-color: #aaa;
    color: #035;
}

td {
	border: 1px solid #555;
	padding: 5px;
}

td img {
}

a.page {
	text-decoration: none;
	margin-right: 10px;
}

td.author {
	width: 15%;
}
